/* App Styles */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
header {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand .logo {
  height: 40px;
}

.navbar-nav .nav-link {
  color: #333;
  margin-left: 20px;
}

/* Footer Styles */
footer {
  background-color: #f8f8f8;
  padding: 20px;
}

/* Home Styles */
.home {
  padding: 40px 0;
  text-align: center;
  background-color: #f8f8f8;
}

.home h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Destination Styles */
.destination {
  padding: 40px 0;
  text-align: center;
}

.destination h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* About Us Styles */
.about-us {
  padding: 40px 0;
  text-align: center;
}

.about-us h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.accordion .card {
  border: none;
  margin-bottom: 10px;
}

.accordion .card-header {
  background-color: #f8f8f8;
  border: none;
  padding: 10px;
}

.accordion .card-body {
  border-top: 1px solid #ddd;
  padding: 10px;
}
